# dependencies
node_modules/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Git hooks
.husky/_/husky.sh

# Commitizen
.czrc

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
